<div class="container">
  <!--<div class="row my-5">-->
    <!--<div class="col-6 mx-auto text-center">-->
      <!--<div class="btn-group btn-group-toggle">-->
        <!--<button type="button" class="btn btn-primary btn-lg">Crear Lista</button>-->
        <!--<button type="button" class="btn btn-secondary btn-lg">Crear Item</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-12">-->
      <!--<app-create-shopping-list (listCreated)="loadShoppingList()"></app-create-shopping-list>-->
    <!--</div>-->
  <!--</div>-->
  <router-outlet></router-outlet>


</div>
